body {
  display: flex;
  justify-content: center;
}

button {
  padding: 24px;
  font-family: monospace;
  border-radius: 6px;
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  scale: 1.01;
}



h1 {
  text-align: center;
}